{% extends "base.html" %}

{% block title %}
Analysis History - AI Resume Analyzer
{% endblock %}

{% block content %}

<main class="history-page">

    <div class="page-header">

        <div>

            <h1>
                Analysis History
            </h1>

            <p>
                View your previous resume analysis results.
            </p>

        </div>

        <a
            href="{{ url_for('analysis.job_description') }}"
            class="primary-button"
        >
            New Analysis
        </a>

    </div>


    {% if analyses %}

        <div class="history-list">

            {% for item in analyses %}

                <div class="history-card">

                    <div class="history-info">

                        <h2>
                            {{ item.resume.resume_name }}
                        </h2>

                        <p>
                            {{ item.job_description.company }}
                            -
                            {{ item.job_description.role }}
                        </p>

                        <small>
                            Analysis #{{ item.id }}
                        </small>

                    </div>


                    <div class="history-score">

                        {{ item.ats_score }}%

                    </div>


                    <a
                        href="{{ url_for('analysis.analysis_details', analysis_id=item.id) }}"
                        class="view-button"
                    >
                        View Analysis
                    </a>

                </div>

            {% endfor %}

        </div>

    {% else %}

        <div class="empty-history">

            <h2>
                No Analysis History
            </h2>

            <p>
                Your completed analyses will appear here.
            </p>

            <a
                href="{{ url_for('analysis.job_description') }}"
                class="primary-button"
            >
                Start Analysis
            </a>

        </div>

    {% endif %}

</main>

{% endblock %}